<br />

<div class="col-10 offset-1">
	<div class="booyah-box col-10 offset-1">
		<div class="title-box text-center">
			<h1>Flixter Team Page</h1>
		</div>
	</div>

<br />

<div class="row">
	<div class="course-box col-10 offset-1">
		<div class="col-10 col-sm-4">
			<img style="float: left; margin: 0px 0px 0px 20px;" src="https://s3.amazonaws.com/honuflixter/uploads/team/profile_pic.jpg" alt="profile pic">
		</div>

		<br /><br />

		<div class="col-12 col-sm-7 offset-sm-5">
			<h2 class="text-center"><b>Eric Knight</b></h2>
			<br />
			<p>Eric is an aspiring web developer and the creator of the Flixter web app. He currently makes his living programming industrial robots for the automotive industry. In the past he has been college automation instructor and content creator. His goal is to be able to create and moderate content remotely.
			</p>
		</div>
	</div>
</div>

<br class="clr" />

<div class="row">
	<div class="course-box col-10 offset-1">
		<div class="col-10 col-sm-4">
			<img style="float: left; margin: 0px 0px 0px 20px;" src="https://s3.amazonaws.com/honuflixter/uploads/team/huxley_profile_pic.jpg" alt="profile pic">
		</div>

		<br /><br />

		<div class="col-12 col-sm-7 offset-sm-5">
			<h2 class="text-center"><b>Huxley Cavalier</b></h2>
			<br />
			<p>Huxley is the inspiration and support stream for the Flixter web app team. Huck's favorite things to do are cuddle, fetch and do tricks. He likes long walks and chilling with his "cousin" Milo. One da he hopes to be able to support the team at home full-time.  
			</p>
		</div>
	</div>
</div>
